<!-- footer -->
<footer class="bg-light text-dark pt-5 pb-3">
    <div class="container">
        <div class="row">
            <!-- Logo and Contact Information -->
            <div class="col-md-4 mb-4">
                <img src="../assets/img/logo.png" alt="Logo" class="mb-3" style="max-width: 100px;">
                <p>Jl. Siliwangi No 123, Cibadak, Sukabumi, Jawa Barat 43351, Indonesia</p>
                <p>(0266) 5351333</p>
                <p>Email: info@smpn1cibadak.sch.id</p>
                <p>Email: smpn1cbd_kabsi@yahoo.co.id</p>
            </div>

            <!-- Jelajah Section -->
            <div class="col-md-2 mb-4">
                <h5>Jelajah</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Sambutan</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Profil Sekolah</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Berita</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Galeri</a></li>
                </ul>
            </div>

            <!-- Halaman Umum Section -->
            <div class="col-md-2 mb-4">
                <h5>Halaman Umum</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark text-decoration-none">Data Guru</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">PPDB SMPN 1 Cibadak</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Panduan PPDB</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Lokasi</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">Kontak</a></li>
                </ul>
            </div>

            <!-- Social Media Section -->
            <div class="col-md-4 mb-4">
                <h5>Media Sosial</h5>
                <a href="#" class="btn btn-outline-dark btn-sm me-2">
                   Facebook <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-sm me-2">
                    Twitter
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-sm">
                    Instragram
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="text-center mt-3">
            <hr>
            <p class="mb-0">
                Copyright © Apcorn INNOVATION
                <br>
                RAFSHAN ZAMIL LAVLU
            </p>
        </div>
    </div>
</footer>